.carousel {
    height: 50vh;
    width: 100%;
    margin-top: 12.5vh;
}

.landing-about {
    height: 20vh;
    width: 100%;
    margin: 2.5vh 0;
    display: flex;
}

p img {
    border: .5rem solid rgba(0,0,0,.4);
    border-radius: 1em;
    max-height: 20%;
}

.copyright {
    position: fixed;
    left: 1%;
    bottom: 1%;
}