
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.carousel {
    height: 50vh;
    width: 100%;
    margin-bottom: 2.5vh;
}

.landing-about {
    height: 20vh;
    width: 100%;
    margin: 2.5vh 0;
    display: flex;
}

.copyright {
    position: fixed;
    left: 1%;
    bottom: 1%;
}
